{% load static %}

<div class="dlabnav">
    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu">
            <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
                <i class="flaticon-381-networking"></i>
                <span class="nav-text">Modules</span>
            </a>
                <ul aria-expanded="false">
                    <li><a href="#">Users</a></li>
                    <li><a href="#">Groups</a></li>
                    <li><a href="#">Permissions</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
                <i class="flaticon-381-networking"></i>
                <span class="nav-text">Dashboard</span>
            </a>
                <ul aria-expanded="false">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Dashboard Dark</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">Kanban</a></li>
                    <li><a href="#">Calendar</a></li>
                    <li><a href="#">Messages</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
                <i class="flaticon-381-television"></i>
                <span class="nav-text">Apps</span>
            </a>
                <ul aria-expanded="false">
                    <li><a href="#">Profile</a></li>
                    <li><a class="has-arrow" href="javascript:void(0);" aria-expanded="false">Email</a>
                        <ul aria-expanded="false">
                            <li><a href="#">Compose</a></li>
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Read</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Calendar</a></li>
                    <li><a class="has-arrow" href="javascript:void(0);" aria-expanded="false">Shop</a>
                        <ul aria-expanded="false">
                            <li><a href="#">Product Grid</a></li>
                            <li><a href="#">Product List</a></li>
                            <li><a href="#">Product Details</a></li>
                            <li><a href="#">Order</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Invoice</a></li>
                            <li><a href="#">Customers</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
                <i class="flaticon-381-controls-3"></i>
                <span class="nav-text">Charts</span>
            </a>
                <ul aria-expanded="false">
                    <li><a href="#">Flot</a></li>
                    <li><a href="#">Morris</a></li>
                    <li><a href="#">Chartjs</a></li>
                    <li><a href="#">Chartist</a></li>
                    <li><a href="#">Sparkline</a></li>
                    <li><a href="#">Peity</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
                <i class="flaticon-381-internet"></i>
                <span class="nav-text">Bootstrap</span>
            </a>
                <ul aria-expanded="false">
                    <li><a href="#">Accordion</a></li>
                    <li><a href="#">Alert</a></li>
                    <li><a href="#">Badge</a></li>
                    <li><a href="#">Button</a></li>
                    <li><a href="#">Modal</a></li>
                    <li><a href="#">Button Group</a></li>
                    <li><a href="#">List Group</a></li>
                    <li><a href="#">Media Object</a></li>
                    <li><a href="#">Cards</a></li>
                    <li><a href="#">Carousel</a></li>
                    <li><a href="#">Dropdown</a></li>
                    <li><a href="#">Popover</a></li>
                    <li><a href="#">Progressbar</a></li>
                    <li><a href="#">Tab</a></li>
                    <li><a href="#">Typography</a></li>
                    <li><a href="#">Pagination</a></li>
                    <li><a href="#">Grid</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
                <i class="flaticon-381-heart"></i>
                <span class="nav-text">Plugins</span>
            </a>
                <ul aria-expanded="false">
                    <li><a href="#">Select 2</a></li>
                    <li><a href="#">Nestedable</a></li>
                    <li><a href="#">Noui Slider</a></li>
                    <li><a href="#">Sweet Alert</a></li>
                    <li><a href="#">Toastr</a></li>
                    <li><a href="#">Jqv Map</a></li>
                    <li><a href="#">Light Gallery</a></li>
                </ul>
            </li>
            <li><a href="#" class="ai-icon" aria-expanded="false">
                <i class="flaticon-381-settings-2"></i>
                <span class="nav-text">Widget</span>
            </a>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
                <i class="flaticon-381-notepad"></i>
                <span class="nav-text">Forms</span>
            </a>
                <ul aria-expanded="false">
                    <li><a href="#">Form Elements</a></li>
                    <li><a href="#">Wizard</a></li>
                    <li><a href="#">Form CkEditor</a></li>
                    <li><a href="#">Pickers</a></li>
                    <li><a href="#">Jquery Validate</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
                <i class="flaticon-381-network"></i>
                <span class="nav-text">Table</span>
            </a>
                <ul aria-expanded="false">
                    <li><a href="#">Bootstrap</a></li>
                    <li><a href="#">Datatable</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
                <i class="flaticon-381-layer-1"></i>
                <span class="nav-text">Pages</span>
            </a>
                <ul aria-expanded="false">
                    <li><a class="has-arrow" href="javascript:void(0);" aria-expanded="false">Error</a>
                        <ul aria-expanded="false">
                            <li><a href="#">Error 400</a></li>
                            <li><a href="#">Error 403</a></li>
                            <li><a href="#">Error 404</a></li>
                            <li><a href="#">Error 500</a></li>
                            <li><a href="#">Error 503</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Lock Screen</a></li>
                </ul>
            </li>
        </ul>
        <a class="add-menu-sidebar" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#addOrderModalside">+ New Project</a>
        <div class="copyright">
            <p><strong>Vora Saas Admin Dashboard</strong> © 2023 All Rights Reserved</p>
            <p>Made with <span class="heart"></span> by <a href="http://DexignLab.com/" target="_blank">DexignLab</a></p>
        </div>
    </div>
</div>
