{% extends "listing/base.html" %}

{% block title %}Link Building Automation Dashboard - Site Data {% endblock %}

{% block content %}


<form id="site_data_Form" enctype="multipart/form-data" method="POST" class="mb-4">
    {% csrf_token %}
    <div class="row g-3">
        <div class="col-md-4">
            <label for="site_excel_file" class="form-label">Upload your site data</label>
            <input type="file" class="form-control" name="site_excel_file" id="site_excel_file">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <button type="submit" id="startProcess" class="btn btn-primary" style="background-color: #a453ca;">Upload Data</button>
        </div>
    </div>
</form>

<button id="viewData" class="btn btn-info">View All Site Records</button>

<!-- Div to display data table -->
<div id="dataDisplay"></div>



<style>
    #dataDisplay table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    #dataDisplay th, #dataDisplay td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #dataDisplay th {
        background-color: #4CAF50;
        color: white;
        text-align: left;
    }

    #dataDisplay tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #dataDisplay tr:hover {
        background-color: #ddd;
    }
</style>

<script>
    document.getElementById('viewData').addEventListener('click', function() {
        fetch('/api-config-data/')
            .then(response => response.json())
            .then(data => {
                let table = '<table>';
                table += '<tr><th>SL No.</th><th>Website</th><th>Template No</th></tr>';
                let slNo = 1; // Initialize serial number counter
                data.forEach(item => {
                    table += `<tr><td>${slNo++}</td><td>${item.website}</td><td>${item.template_no}</td></tr>`;
                });
                table += '</table>';
                document.getElementById('dataDisplay').innerHTML = table;
            });
    });
</script>


{% endblock %} 




